#overview .top,
#overview .bottom {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

#overview {
  gap: 1rem;
}

#overview .widget {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50%;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
  position: relative;
}

#overview .widget:hover > .overlay {
  opacity: 0.1;
}

#overview .overlay {
  top: 0;
  left: 0;
}
