.trip-preview {
  /* try to make width responsive to the columns (If there is too much space make them fill the space) */
  width: 320px;
  height: 320px;
  background-color: dodgerblue;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border-radius: 20px;
  cursor: pointer;
}

.trip-preview .bottom {
  display: flex;
  flex-direction: column-reverse;
}

.trip-preview .bottom h1 {
  margin: 0.2rem 0 1rem 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.trip-preview .bottom h2 {
  margin: 0 1rem;
  font-size: 1rem;
}

.trip-preview .top {
  display: flex;
  width: 100%;
  margin: 1rem;
  gap: 5px;
}

/* MAKE HOVER OUT SMOOTH */

/* .trip-preview:hover {
  transform: translateY(-4px);
  transition: all 0.3s;
}

.trip-preview:active {
  transform: translateY(4px);
} */
