.trip-preview {
  /* try to make width responsive to the columns (If there is too much space make them fill the space) */
  width: 320px;
  height: 320px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
}

/* MAKE HOVER OUT SMOOTH */

/* .trip-preview:hover {
  transform: translateY(-4px);
  transition: all 0.3s;
}

.trip-preview:active {
  transform: translateY(4px);
} */
