.dashboard {
  height: 100%;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-basis: auto;
  min-height: 0;
}

.stats-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-container .left {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.trips {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-trips {
  width: 90%;
  height: 95%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 25px;
  padding: 1rem;
  position: relative;
  box-sizing: border-box;
}

.trips .header {
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trips .left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.trips .header h1 {
  font-size: 2rem;
  font-weight: bold;
}

.trips .header h2 {
  font-size: 1rem;
  font-weight: 100;
}

.trips .right {
  display: flex;
  align-items: flex-start;
  height: 70%;
}

.trips button {
  display: inline-block;
  font-family: 'Red Hat Text', sans-serif !important;
  font-size: 1.2rem;
  position: relative;
  background: none;
  border: none;
  color: #1fc28b;
  font-weight: bold;
  cursor: pointer;
}

.trips button::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  transition: all 0.2s linear;
  background: #1fc28b;
}

.trips button:hover::after {
  width: 100%;
}

.trips button::after {
  left: 0;
  bottom: 0;
  transition-delay: 0s;
}

.trips button:hover::after {
  transition-delay: 0s;
}
.trips button:hover span::after {
  transition-delay: 0.2s;
}
