.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #c6f6e5;
}

.dashboard {
  width: 100%;
  height: 100%;
  display: flex;
}

.stats-container {
  width: 50%;
}

.welcome {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem;
}
