.modal-header .logo {
  background: url('../../../public/assets/icons/tourify-1FC28B-white.png');
  height: 75px;
  width: 140px;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body .head {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  border-bottom: solid 1px #e6e6e6;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.modal-body .body {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.modal-body .body .left,
.modal-body .body .right {
  width: 50%;
  border-radius: 1rem;
  height: 200px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-body .body .left {
  background-color: #1fc28b;
  align-items: flex-start !important;
  padding: 1.5rem;
}

.modal-body .body .right {
  background: rgba(255, 255, 255, 0.1);
}

.modal-body .buy-btn {
  font-size: 1.5rem;
  font-size: bold;
  padding: 1rem;
}

.modal-body .price {
  font-size: 2rem;
  font-weight: bold;
}

.modal-body .feature {
  display: flex;
  color: white;
}
