.side-bar {
  min-width: 75px;
  height: 100%;
  background-color: #ffffff;
  transition: min-width 0.4s;
  /* position: sticky;
  top: 0; */
}

.side-bar-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 75px;
  position: absolute;
}

.side-bar button {
  border: none;
  background-color: transparent;
}

.side-bar button > .logo {
  background: url('../../../public/assets/icons/tourify-1FC28B-white.png');
  background-size: cover;
  height: 60px;
  width: 120px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 60px;
}

.side-bar .icon-cont {
  position: relative;
}

.side-bar button > span {
  color: #1fc28b;
  font-size: 1.3rem;
  font-family: 'Red Hat Text', sans-serif !important;
  opacity: 0;
  transition: 0.3s;
  position: absolute;
  top: 15px;
  left: 50px;
}

.side-bar button > span:hover {
  color: black;
  transform: translateY(-1px);
}

.side-bar .burger {
  margin-bottom: 25px;
  position: relative;
}

.side-bar-open {
  min-width: 280px;
  padding-left: 100px;
}

.side-bar .burger {
  border: none;
  background-color: transparent;
}

.side-bar .top,
.side-bar .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.side-bar {
  padding: 0 0 1rem 0;
}

.side-bar .icon {
  cursor: pointer;
  margin: 15px 0;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 100px;
  }
  100% {
    opacity: 1;
    translate: 0;
  }
}

.side-bar button > .open {
  opacity: 1;
  animation: appear 0.3s both;
  cursor: pointer;
}

@keyframes appear-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo-open {
  opacity: 1;
  animation: appear-logo 0.3s both;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .side-bar-open {
    position: fixed;
    width: 100vw;
  }
}
